.recipe_list{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-right: 20px;
  padding: 2%;
  flex-flow: row wrap;
}
.Main{
  padding: 5%;
  background-color: rgba(255, 241, 223, 0.24);
}
.NavbarBrand{
  color: brown;
}
.Navbar {
  max-width: 280px;
}
.start{
  background-image:url('https://i.ibb.co/LQ5VQfq/Healthy-Food-36.jpg');
  background-position: bottom right;
  background-repeat: no-repeat;
  width: 1500px;
  height: 650px;
  margin-bottom: 5%;
  float: right;
}
.left_middle_content{
  position: absolute;
  top:70%;
  float: left;
  width: 50%;
}
.dropdown-toggle::after {
  display: none !important; 
}
.main-footer{
  background-color: lightgrey;
}
.row{
  text-decoration: black;
}